.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.body{
  background-color: #f7f7f7;
  position: relative;
}

#trailer{
  margin-top:117%;
  width: 60%;
  position:absolute;
  margin-right: auto;
  left: 50%;
  transform: translate(-50%, -50%);

}
#botao_trans{
  position: absolute;
  margin-top: 2%;
  margin-left: 92.2%;
  width: 2vw;
  height: 3vw;
  background: transparent;
  color: transparent;
  border-color:transparent; 
}
#botao_trans:hover{
  border-bottom-color: #292929;
border-style:groove;
}

#botao_home{
  position: absolute;
  margin-top: 12.4%;
  margin-left: 3%;
  width: 4vw;
  height: 3.5vw;
  background: transparent;
  color: transparent;
  border-color:transparent;
}
#botao_home:hover {
  border-right-color: #292929;
border-style:groove;
} 
#botao_women{
  position: absolute;
  margin-top: 17.6%;
  margin-left: 3%;
  width: 4vw;
  height: 4vw;
  background: transparent;
  color: transparent;
  border-color:transparent;

} 
#botao_women:hover {
  border-right-color: #292929;
border-style:groove;
}  
#botao_app{
  position: absolute;
  margin-top: 23.8%;
  margin-left: 3%;
  width: 4vw;
  height: 2vw;
  background: transparent;
  color: transparent;
  border-color:transparent;

}
#botao_app:hover {
  border-right-color: #292929;
border-style:groove;
}
#botao_gallery{
  position: absolute;
  margin-top: 28%;
  margin-left: 3%;
  width: 4vw;
  height: 4.2vw;
  background: transparent;
  color: transparent;
  border-color:transparent; 
}
#botao_gallery:hover {
  border-right-color: #292929;
border-style:groove;
}
#botao_contacts{
  position: absolute;
  margin-top: 33.8%;
  margin-left: 3%;
  width: 4vw;
  height: 5.5vw;
  background: transparent;
  color: transparent;
  border-color:transparent;  
}
#botao_trans_gallery{
  position: absolute;
  margin-top: 2%;
  margin-left: 92.2%;
  width: 3vw;
  height: 3vw;
  background: transparent;
  color: transparent;
  border-color:transparent; 
  visibility: visible;
}
#botao_top_gallery{
  position: fixed;
    margin-top: 40%;
    margin-left: 93%;
    background: transparent;
    color: transparent;
    width: 6vw;
    height: 7vw;
    visibility: visible;
}
#botao_trans_gallery:hover{
  border-bottom-color: #292929;
border-style:groove;
visibility: visible;
}
#botao_contacts:hover {
  border-right-color: #292929;
border-style:groove;
}
#botao_top{
  position: fixed;
    margin-top: 40%;
    margin-left: 93%;
    background: transparent;
    color: transparent;
    width: 6vw;
    height: 7vw;
}
body{
  position: relative;
  background-color: #f7f7f7;
  background-size: cover;
  background-size: 100% 100%;
}
#download{
  position: absolute;
  margin-top: 21%;
  margin-left: 24%;
  width: 20vw;
  height: 4vw;
  background: transparent;
  color: transparent;
  border-color:transparent;
}
#botao_home_top{
  position: absolute;
  margin-top: 2.5%;
  margin-left: 46%;
  width: 8vw;
  height: 3.5vw;
  background: transparent;
  color: transparent;
  border-color:transparent;

}

#helena{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
  }
  #helena video{
      position: relative;
      max-width: 900px;
      outline: none;
  }

#frida
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.90);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 1;
}
    
#frida video{
        position: relative;
        max-width: 900px;
        outline: none;
}
#wangari{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(255,255,255,0.90);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 1;
}
#wangari video{
          position: relative;
          max-width: 900px;
          outline: none;
      }
#agnes
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}        
#agnes video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#davis
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}
#davis video{
  position: relative;
  max-width: 900px;
  outline: none;
}      

  #carolina{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.90);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 1;
    }    
    #carolina video{
        position: relative;
        max-width: 900px;
        outline: none;
    }

#ruth
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}
        
#ruth video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#malala
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}        
#malala video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#mickalene
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}        
#mickalene video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#mary
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}       
#mary video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#rigoberta
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}
        
#rigoberta video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#simone
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}
      
#simone video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#susan
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}
#susan video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#harriet
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}        
#harriet video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#sophia
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}        
#sophia video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#marsha
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}        
#marsha video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#rosa
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}        
#rosa video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#marias
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}
#marias video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#ada{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
  }
  #ada video{
      position: relative;
      max-width: 900px;
      outline: none;
  }
  #nina
  {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.90);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 1;
  }          
  #nina video{
    position: relative;
    max-width: 900px;
    outline: none;
}
#hamilton
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}
#hamilton video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#marie
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}        
#marie video{
  position: relative;
  max-width: 900px;
  outline: none;
}
#kruger
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.90);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
}        
#kruger video{
  position: relative;
  max-width: 900px;
  outline: none;
}
.close{
      position: absolute;
      top:30px;
      right: 30px;
      cursor: pointer;
      filter:invert(0);
      width: 5%;
}
.next{
  position: absolute;
  top:45%;
  right: 25%;
  cursor: pointer;
  filter:invert(0);
  width: 5%;
}
.prev{
  position: absolute;
  top:45%;
  left: 26%;
  cursor: pointer;
  filter:invert(0);
  width: 5%;
}
  
  @media (max-width:991px)
  {
    #helena video{
      max-width: 90%;
  }
  #frida video{
    max-width: 90%;
  }
  #wangari video{
    max-width: 90%;
  }
  #agnes video{
    max-width: 90%;
  } 
  #davis video{
    max-width: 90%;
  }
  #ruth video{
    max-width: 90%;
  }
  #malala video{
    max-width: 90%;
  }
  #mickalene video{
    max-width: 90%;
  }
  #mary video{
    max-width: 90%;
  }
  #rigoberta video{
    max-width: 90%;
  }
  #simone video{
    max-width: 90%;
  }
  #susan video{
    max-width: 90%;
  }
  #harriet video{
    max-width: 90%;
  }
  #sophia video{
    max-width: 90%;
  }
  #marsha video{
    max-width: 90%;
  }
  #rosa video{
    max-width: 90%;
  }
  #marias video{
    max-width: 90%;
  }
  #ada video{
    max-width: 90%;
  }
  #nina video{
    max-width: 90%;
  }
  #hamilton video{
    max-width: 90%;
  }
  #marie video{
    max-width: 90%;
  }
  #kruger video{
    max-width: 90%;
  }
  #carolina video{
    max-width: 90%;
  }
  }