.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #video{
    position:relative;
    padding-bottom:56.25%;
    height:0;
  
  }
  #video iframe{
    margin-top:245%;
    height:70%;
    width:70%;
    position:absolute;
    margin-right: auto;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  #botao_trans{
    position: absolute;
    margin-top: -54%;
    margin-left: 92%;
    width: 3vw;
    height: 3vw;
    background: transparent;
    color: transparent;
    border-color:transparent;
  
  }
  #botao_trans:hover {
    border-bottom-color: #292929;
  border-style:groove;
  }
  body{
    position: relative;
    background-color: #f7f7f7;
    background-size: cover;
    background-size: 100% 100%;
  }
  #botao_top{
    position: fixed;
      margin-top: -15%;
      margin-left: 93%;
      background: transparent;
      color: transparent;
      width: 6vw;
    height: 7vw;
  }
  #botao_esq{
    position: absolute;
    margin-top: 256%;
    margin-left: 22%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
  }
  #botao_dir{
    position: absolute;
    margin-top: 256%;
    margin-left: 74%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
  }
  #botao_home{
    position: absolute;
    margin-top: -46%;
    margin-left: 3%;
    width: 4vw;
    height: 3.5vw;
    background: transparent;
    color: transparent;
    border-color:transparent;
  
  }
  #botao_home:hover {
    border-right-color: #292929;
  border-style:groove;
  }
  #botao_home_top{
    position: absolute;
    margin-top: -53.5%;
    margin-left: 46%;
    width: 8vw;
    height: 3.5vw;
    background: transparent;
    color: transparent;
    border-color:transparent;

  }
  #botao_women{
    position: absolute;
    margin-top: -40.7%;
    margin-left: 3%;
    width: 4vw;
    height: 5.3vw;
    background: transparent;
    color: transparent;
    border-color:transparent;
  
  }
  #botao_women:hover {
    border-right-color: #292929;
  border-style:groove;
  } 
  #botao_app{
    position: absolute;
    margin-top: -33.3%;
    margin-left: 3%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
    border-color:transparent;
  
  }
  #botao_app:hover {
    border-right-color: #292929;
  border-style:groove;
  }
  #botao_gallery{
    position: absolute;
    margin-top: -27.5%;
    margin-left: 3%;
    width: 4vw;
    height: 4.5vw;
    background: transparent;
    color: transparent;
    border-color:transparent;
  
  }
  #botao_gallery:hover {
    border-right-color: #292929;
  border-style:groove;
  }
  #botao_contacts{
    position: absolute;
    margin-top: -21%;
    margin-left: 3%;
    width: 4vw;
    height: 6vw;
    background: transparent;
    color: transparent;
    border-color:transparent;
  
  }
  #botao_contacts:hover {
    border-right-color: #292929;
  border-style:groove;
  }