.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body{
    position: relative;
    background-color: #f7f7f7;
    background-size: cover;
    background-size: 100% 100%;
  }
  #botao_trans{
    position: absolute;
    margin-top: 2.5%;
    margin-left: 92.2%;
    width: 3vw;
    height: 3vw;
    background: transparent;
    color: transparent;
    border-color:transparent;
  
  }
  #botao_trans:hover {
    border-bottom-color: #292929;
  border-style:groove;
  }

  #botao_home{
    position: absolute;
    margin-top: 10.2%;
    margin-left: 3%;
    width: 4vw;
    height: 3.5vw;
    background: transparent;
    color: transparent;
    border-color:transparent;
  
  }
  #botao_home:hover {
    border-right-color: #292929;
  border-style:groove;
  }
  
  #botao_women{
    position: absolute;
    margin-top: 15.6%;
    margin-left: 3%;
    width: 4vw;
    height: 5.3vw;
    background: transparent;
    color: transparent;
    border-color:transparent;
  
  }
  
  #botao_women:hover {
    border-right-color: #292929;
  border-style:groove;
  }
   
  #botao_app{
    position: absolute;
    margin-top: 23%;
    margin-left: 3%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
    border-color:transparent;
  
  }
  #botao_app:hover {
    border-right-color: #292929;
  border-style:groove;
  }
  #botao_gallery{
    position: absolute;
    margin-top: 29%;
    margin-left: 3%;
    width: 4vw;
    height: 4.5vw;
    background: transparent;
    color: transparent;
    border-color:transparent;
  
  }
  #botao_gallery:hover {
    border-right-color: #292929;
  border-style:groove;
  }
  #botao_contacts{
    position: absolute;
    margin-top: 35.3%;
    margin-left: 3%;
    width: 4vw;
    height: 6vw;
    background: transparent;
    color: transparent;
    border-color:transparent;
  
  }
  #botao_contacts:hover {
    border-right-color: #292929;
  border-style:groove;
  }
  #botao_top{
    position: fixed;
      margin-top: 40%;
      margin-left: 93%;
      background: transparent;
      color: transparent;
      width: 6vw;
    height: 7vw;
  }
  #botao_esq_carolina{
    position: absolute;
    margin-top: 210%;
    margin-left: 22%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
  }
  #botao_dir_carolina{
    position: absolute;
    margin-top: 210%;
    margin-left: 74%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
  }
  #botao_esq_harriet{
    position: absolute;
    margin-top: 257%;
    margin-left: 22%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
  }
  #botao_dir_harriet{
    position: absolute;
    margin-top: 257%;
    margin-left: 74%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
  }
  #botao_esq_ada{
    position: absolute;
    margin-top: 152%;
    margin-left: 22%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
  }
  #botao_dir_ada{
    position: absolute;
    margin-top: 152%;
    margin-left: 74%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
  }
  #botao_esq_mary{
    position: absolute;
    margin-top: 156%;
    margin-left: 22%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
  }
  #botao_dir_mary{
    position: absolute;
    margin-top: 156%;
    margin-left: 74%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
  }
  #botao_esq_susan{
    position: absolute;
    margin-top: 237%;
    margin-left: 22%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
  }
  #botao_dir_susan{
    position: absolute;
    margin-top: 237%;
    margin-left: 74%;
    width: 4vw;
    height: 4vw;
    background: transparent;
    color: transparent;
  }
  #botao_home_top{
    position: absolute;
    margin-top: 2.5%;
    margin-left: 46%;
    width: 8vw;
    height: 3.5vw;
    background: transparent;
    color: transparent;
    border-color:transparent;

  }